.catalog__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $secondary-color;
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
