.catalog__inner {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 71px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}

.catalog__item {
  padding-top: 20px;
  padding-bottom: 24px;
  // border-bottom: solid 1px #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 0 37px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px;
  }
}

.catalog__item--bg {
  @media (min-width: $tablet-width) {
    background:
      linear-gradient(
        to bottom,
        rgba(242, 242, 242),
        rgba(242, 242, 242)
      )
      bottom / 100% 430px no-repeat;
  }
}

.catalog__item--more {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 82px;
    padding: 0;
    border: solid 2px #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    margin-top: 80px;
  }
}
