.example {
  background-color: $secondary-grey;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.example__title {
  margin: 0;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $secondary-color;
}

.example__text {
  margin: 0;
}

.example__list {
  margin: 0;
}

.example__content {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $secondary-color;
}

.example__caption {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
}
