.instructions__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $secondary-color;
}

.instructions__list {
  list-style-type: none;
}

.instructions__text {
  font-size: 14px;
  line-height: 18px;
}
