.map {
  position: relative;
}

.map__inner {
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    background-color: #ffffff;
    padding: 60px 78px 60px 80px;
  }
}

.map__inner--catalog {
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}
