.product__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.product__volume {
  line-height: 14px;
}

.product__price {
  line-height: 14px;
}
