.programs__inner {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 71px;
  }
}

.programs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.programs__item--slim {
  background-image: url("../../icons/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 50px 53px;
  background-position: top 21px left 20px;
}

.programs__item--pro {
  background-image: url("../../icons/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 50px;
  background-position: top 24px left 13px;
}

.programs__title {
  margin: 0;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $secondary-color;
}

.programs__text {
  margin: 0;
}

.programs__link {
  display: flex;
  line-height: 16px;
  color: $secondary-color;
  background-color: $basic-grey;
  justify-content: start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;

  &:active {
    opacity: 0.3;
  }
}

.programs__link::after {
  content: "";
  display: block;
  background-color: #000000;
  width: 32px;
  height: 10px;
  mask-image: url("../../icons/stack.svg#arrow");
  mask-size: 32px 10px;
  mask-repeat: no-repeat;
}

.programs__link:hover::after,
.programs__link:active::after {
  mask-image: url("../../icons/stack.svg#arrow-long");
}
